$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.album-edits {
  float: right;
}

.del-album {
  color: red;
}

.album-info {
  height: 50px;
  width: 100%;
}

.deets {
  padding: 0 0 0 20px;
  float: left
}

ul {
  margin: 3px;
}

.hide-album-comments {
  float: right;
}

.fields {
  margin: 0 auto;
  height: 65%;
  width: 100%;
  border: 1px #000000;
  border-style: none;
  overflow: scroll;
}

.comments {
  float: right;
}

.album-item {
  border: 1px black;
  display: block;
  left: 0px;
  margin: 0 auto;
  height: 200px;
  width: 50.1%;
  border-style: solid;
  padding: 0px;
  float: left;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

.hide {
  display: none;
}
