$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.album-edits {
  float: right;
}

.del-album {
  color: red;
}

.fields {
  margin: 0 auto;
  height: 100px;
  width: 100%;
  border: 1px #000000;
  border-style: none;
  border-radius: 26px 26px 26px 26px;
}

.album-item {
  display: block;
  position: relative;
  left: 0px;
  margin: 0 auto;
  height: 200px;
  width: 50.1%;
  border: 1px #000000;
  padding: 20px 0 0;
  float: left;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

.hide {
  display: none;
}
