$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.album-edits {
  float: right;
}

h1 {
  text-align: center;
}

.del-album {
  color: red;
}

.log {
  text-align: center;
  height: 80px;
  width: 400px;
  border: 1px #000000;
  display: block;
  padding: 10px 0 50px 0;
  margin: 0 auto;
  font-size: 20px;
}

.album-info {
  height: 50px;
  width: 100%;
  overflow: scroll;
}

.deets {
  padding: 0 0 0 20px;
  float: left
}

ul {
  margin: 3px;
}

.hide-album-comments {
  float: right;
}

.fields {
  margin: 0 auto;
  height: 65%;
  width: 100%;
  border: 1px #000000;
  border-style: none;
  overflow: scroll;
}

.credential-status {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 500px;
  border: 1px #000000;
  padding: 20px 0 0;
}

.comments {
  float: right;
}

.album-item {
  border: 1px black;
  display: block;
  left: 0px;
  margin: 0 auto;
  height: 200px;
  width: 30%;
  border-style: solid;
  padding: 0px;
  float: left;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

.hide {
  display: none;
}
