$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  min-height: 2000px;
  padding-top: 70px;
  background-color: #2A4E73;
  font-family: 'Exo', sans-serif;
  font-style: thin;
}

.album-edits {
  float: right;
}

span {
  margin: 1px;
}

.show-album-comments {
  float: right;
  margin: 5px;
}

.hide-album-comments {
  float: right;
  margin: 5px;
}

h1 {
  text-align: center;
}


.log {
  text-align: center;
  height: 80px;
  width: 400px;
  border: 1px #000000;
  display: block;
  padding: 10px 0 50px 0;
  margin: 0 auto;
  font-size: 20px;
  color: #ffb475;
}

a {
  color: #7ba36a;
}

.album-info {
  height: 13%;
  width: 100%;
  border-top: 0px black;
  border-left: 0px black;
  border-right: 0px black;
  border-bottom: 1px black;
  border-style: solid;
  background-color: #ffa85f;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
  color: #2A4E73;
  font-family: 'Exo', sans-serif;
  font-style: thin;
}

.deets {
  padding: 0 0 0 2px;
  float: left
}

span:hover {
  cursor: pointer;
}


ul {
  margin: 3px;
}

p {
  font-size: 13px;
  margin: 0px 0px 0px 1px;
}

.fields {
  margin: 0 auto;
  height: 80%;
  width: 100%;
  background-color: #ffce83;
  border: 1px #000000;
  border-style: none;
  overflow: scroll;
}

.credential-status {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 500px;
  border: 1px #000000;
  padding: 20px 0 0;
}

.comments {
  float: right;
}

small {

}

.album-item {
  border: 1px black;
  display: block;
  left: 0px;
  margin: 0 auto;
  height: 300px;
  width: 275px;
  border-style: solid;
  padding: 0px;
  float: left;
  background-color: #ffce83;
}

body {
  min-height: 2000px;
  padding-top: 70px;
  background-color: #2A4E73;
  font-family: 'Exo', sans-serif;
  font-style: thin;
}

.hide {
  display: none;
}
